<!--パスワード変更-->

<div class="container change-password">
  <div class="row change-password-form">

    <div class="row change-password-form-title">
      <hr class="border-line"/>
      <h2 class="change-password-title">パスワードを変更する</h2>
      <hr class="border-line"/>
    </div>

    <%= form_with model:@user, url: registration_path(@user), local: true do |f| %>

      <!--エラーメッセージ-->
      <%= render 'layouts/error_message', model: @user %>

      <!--パスワード変更フォーム-->
      <div class="form-horizontal">
        <div class="form-group">
          <label class="control-label signup-label"><%= f.label "新しいパスワード(必須)" %></label></br>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control input-lg", placeholder:"半角英数字6文字以上" %>
        </div>
        <div class="form-group">
          <label class="control-label login-label"><%= f.label "新しいパスワード確認(必須)" %></label></br>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control input-lg", placeholder:"半角英数字6文字以上" %>
        </div>
        <div class="form-group">
          <label class="control-label login-label"><%= f.label "現在のパスワード(必須)" %></label></br>
          <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control input-lg", placeholder:"半角英数字6文字以上" %>
        </div>
        <div class="form-group">
          <div class="actions change-password-form-button">
            <% if current_user.nickname == 'ゲスト' %>
              <button class="btn btn-default btn-block btn-lg change-password-form-update_button" disabled="disabled">
                変更する
              </button>
            <% else %>
              <%= f.submit "変更する", class: "btn btn-default btn-block btn-lg change-password-form-update_button" %>
            <% end %>
            <%= link_to edit_user_path(current_user), style: "text-decoration: none;" do %>
              <button type="button" class="btn btn-default btn-block btn-lg new-articl-button-return">
                <i class="fa fa-arrow-left" aria-hidden="true" style="color: #F5CC50; font-size: 25px;"></i>
                <span class="text-decoration: none;">戻る</span>
              </button>
            <% end %>
           </div>
        </div>
      </div>

    <% end %>

  </div>
</div>