<!--新規登録-->

<!--ヘッダー-->
<div class="container-fluid signup-header">
  <div class="logo-image">
    <%= link_to root_path do %>
      <%= image_tag 'logo.jpg', :alt => 'ロゴ画像、みんなの投稿一覧ページに飛べます。' %>
    <% end %>
  </div>
</div>

<div class="container signup">
  <div class="row signup-form">

    <hr class="border-line"/>
    <h2 class="text-center">新規会員登録</h2>
    <hr class="border-line"/>

    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>

      <!--エラーメッセージ-->
      <%= render 'layouts/error_message', model: @user %>

      <!--新規投稿フォーム-->
      <div class="form-horizontal">
        <div class="form-group">
          <label class="control-label signup-label"><%= f.label "ニックネーム(必須)" %></label></br>
          <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", class: "form-control input-lg", placeholder:"2〜20文字以内" %>
        </div>
        <div class="form-group">
          <label class="control-label login-label"><%= f.label "メールアドレス(必須)" %></label></br>
          <%= f.email_field :email, autocomplete: "email", class: "form-control input-lg", placeholder:"半角英数字" %>
        </div>
        <div class="form-group">
          <label class="control-label signup-label"><%= f.label "おひとり暮らし歴○○ヶ月目(必須)" %></label></br>
          <%= f.text_field :living_alone_month, autofocus: true, autocomplete: "living_alone_month", class: "form-control input-lg", placeholder:"半角数字" %>
        </div>
        <div class="form-group">
          <label class="control-label login-label"><%= f.label "パスワード(必須)" %></label></br>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control input-lg", placeholder:"半角英数字6文字以上" %>
        </div>
        <div class="form-group">
          <label class="control-label login-label"><%= f.label "パスワード確認(必須)" %></label></br>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control input-lg", placeholder:"半角英数字6文字以上" %>
        </div>
        <div class="form-group">
          <div class="actions signup-form-button">
            <%= f.submit "新規会員登録する", class: "btn btn-block btn-default btn-lg signup-form-signup_button" %></br>
            <%= link_to user_session_path, style: "text-decoration: none;" do %>
              <button type="button" class="btn btn-block btn-default btn-lg signin-page-button">
                ログインはこちら
              </button>
            <% end %>
           </div>
        </div>
      </div>

    <% end %>

  </div>
</div>

<!--フッター-->
<div class="container-fluid signup-footer"></div>