<div class="container signup">
  <div class="row signup-row">
      
    <h1 class="signup-title">新規会員登録</h1>
    
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <form class="form-horizontal">
        <div class="form-group">
          <label class="control-label signup-label"><%= f.label "ニックネーム(必須)" %></label></br>
          <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", class: "form-control input-lg", placeholder:"例：おひとりびより" %>
        </div>
        <div class="form-group">
          <label class="control-label login-label"><%= f.label "メールアドレス(必須)" %></label></br>
          <%= f.email_field :email, autocomplete: "email", class: "form-control input-lg", placeholder:"例：ohitori@biyori.com" %>
        </div>
        <div class="form-group">
          <label class="control-label signup-label"><%= f.label "おひとり暮らし歴○○ヶ月目(必須)" %></label></br>
          <%= f.text_field :living_alone_month, autofocus: true, autocomplete: "living_alone_month", placeholder:"例：半角数字 1", class: "form-control input-lg" %>
        </div>
        <div class="form-group">
          <label class="control-label login-label"><%= f.label "パスワード(必須)" %></label></br>
          <%= f.password_field :password, autocomplete: "current-password", placeholder:"6文字以上", class: "form-control input-lg" %>
        </div>
        <div class="form-group">
          <div class="actions">
            <%= f.submit "　　新規会員登録する　　", class: "btn btn-default btn-lg" %>
           </div>
        </div>
      </form>
    <% end %>

  </div>
</div>