<!--投稿一覧表示の部分テンプレート(articles)-->

<% articles.each do |article| %>
  <div class="row article-index-article">
    <div class="article-index-article-image">
      <%= link_to article_path(article) do %>
        <%= attachment_image_tag article, :image, size: "150x150", style: "border-radius:15px" %>
      <% end %>
    </div>
    <div class="article-index-article-title_body">
      <p class="article-index-article-title">
        <%= article.title %>
      </p>
      <p class="article-index-article-body">
        <%= article.body.truncate(30) %>
      </p>
      <p class="article-index-article-tag">
        <% article.tag_list.each do |tag| %>
          <%= link_to articles_path(tag_name: tag), class: "btn btn-default btn-sm" do %>
            <%= tag %>
          <% end %>
        <% end %>
      </p>
    </div>
  </div>
<% end %>