<!--投稿一覧表示-->

<div class="container article-index">

  <!--タイトル切替-->
  <div class="row article-index-title">
  <hr class="border-line"/>
    <% if @keyword %>
      <h2 class="article-index-title-title">「<%= @keyword %>」に関する投稿</h2>
    <% elsif @genre %>
      <h2 class="article-index-title-title">「<%= @genre.name %>」に関する投稿</h2>
    <% elsif @tag %>
      <h2 class="article-index-title-title">「<%= @tag %>」に関する投稿</h2>
    <% else %>
      <h2 class="article-index-title-title">みんなの投稿</h2>
    <% end %>
  <hr class="border-line"/>
  </div>

  <div class="row article-index-body">

    <div class="article-index-side_bar">
      <!--キーワード検索-->
      <div class="article-index-search">
        <h4 class="article-index-side_bar-title">キーワード</h4></br>
        <div class="row article-index-search-box">
          <%= form_tag(articles_path, method: :get) do %>
            <%= text_field_tag :search %>
            <%= submit_tag '　検索　' %>
          <% end %>
        </div>
      </div></br>
      
      <!--ジャンル検索-->
      <div class="article-index-genre">
        <h4 class="article-index-side_bar-title">ジャンルで検索</h4></br>
        <div class="article-index-genres">
          <% @genres.each do |genre| %>
            <div class="article-index-genre-button">
              <%= link_to articles_path(name: genre.name) do %>
                <button type="button" class="btn btn-default btn-md">
                  <i class="fa fa-search" aria-hidden="true"style="color: #F8D48A;"></i>
                  <%= genre.name %>
                </button>
              <% end %>
            </div>
          <% end %>
        </div>
      </div></br>
      
      <!--ランキング投稿-->
      <h4 class="article-index-side_bar-title">人気の投稿</h4></br>
      <div class="article-index-side_bar-flex">
        <% @all_rankings.each do |ranking| %>
          <div class="article-index-ranking">
            <div class="article-index-ranking-image_title">
              <%= link_to article_path(ranking) do %>
                <%= attachment_image_tag ranking, :image, size: "80x80", style: "border-radius:15px" %>
              <% end %>
            </div>
            <div class="article-index-ranking-title">
              <%= ranking.title %>
            </div>
          </div>
        <% end %>
      </div></br>
      
      <!--おすすめ投稿-->
      <h4 class="article-index-side_bar-title">おすすめの投稿</h4></br>
      <div class="article-index-side_bar-flex">
        <% @random_article.each do |article| %>
          <div class="article-index-recommend">
            <div class="article-index-recommend-image_title">
              <%= link_to article_path(article) do %>
                <%= attachment_image_tag article, :image, size: "80x80", style: "border-radius:15px" %>
              <% end %>
            </div>
            <div class="article-index-recommend-title">
              <%= article.title %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <!--投稿一覧表示-->
    <div class="article-index-main">
      <%= render 'articles/article_index', articles: @articles %>
    </div>

  </div>

  <!--ページング-->
  <div class="text-center"><%= paginate @articles %></div>

</div>
