<!--投稿一覧表示画面-->

<div class="container article-index">

  <div class="row article-index-top">
    <h2 class="article-index-top_message">ひとり暮らしを楽しく素敵に。</h2>
  </div>

  <!--ジャンル検索時にタイトル表示を切り替える-->
  <div class="row article-index-title">
    <% if @genre %>
      <h2>「<%= @genre.name %>」に関する投稿</h2>
    <% elsif @tag %>
      <h2>「<%= @tag %>」に関する投稿</h2>
    <% else %>
      <h2>みんなの投稿</h2>
    <% end %>
  </div>

  <!--ジャンル検索ボタン-->
  <div class="row article-index-genre">
    <% @genres.each do |genre| %>
      <div class="article-index-genre-button">
        <%= link_to articles_path(name: genre.name) do %>
          <button type="button" class="btn btn-default btn-lg">　<%= genre.name %>　</button>
        <% end %>
      </div>
    <% end %>
  </div>

  <!--ランキング表示-->
  <h3 class="text-center">人気投稿ランキング</h3>
  <div class="row article-index-ranking">
    <% @all_rankings.each do |ranking| %>
      <div class="article-index-ranking-image">
        <%= link_to article_path(ranking) do %>
          <%= attachment_image_tag ranking, :image, size: "100x100" %>
        <% end %>
      </div>
      <div class="article-index-ranking-image-title">
        <%= ranking.title %>
      </div>
    <% end %>
  </div>

  <!--投稿一覧表示-->
  <%= render 'articles/article_index', articles: @articles %>

  <!--ページング-->
  <div class="text-center"><%= paginate @articles %></div>

</div>
