<!--投稿詳細画面-->

<div class="container article-show">

  <!--ユーザー表示の部分テンプレート-->
  <div class="row article-show-user-show">
    <%= render 'users/show', user: @user %>
  </div>

  <!--投稿内容-->
  <div class="row article-show-article">
    <div class="article-show-article-image">
      <%= attachment_image_tag @article, :image, size: "250x250", format: 'jpeg' %>
    </div>
    <div class="article-show-article-title_body">
      <p class="article-show-article-title"><%= @article.title %></p>
    </br>
      <p class="article-show-article-body"><%= @article.body %></p>
    </div>
  </div>

  <!--ボタン-->
  <% if user_signed_in? && current_user.id == @article.user_id %>
    <!--ログインしている人の投稿の場合-->
    <div class="row article-show-button">
      <%= link_to :back do %>
          <button type="button" class="btn btn-default btn-lg article-show-button-return">　　戻る　　</button>
        <% end %>
      <%= link_to edit_article_path(@article.id) do %>
        <button type="button" class="btn btn-default btn-lg article-show-button-edit">　編集する　</button>
      <% end %>
      <%= link_to article_path(@article), method: :delete, data: {confirm: "本当に削除しますか？"} do %>
        <button type="button" class="btn btn-default btn-lg article-show-button-delete">　削除する　</button>
      <% end %>
    </div>
  <% else %>
    <!--ログインしている人以外の投稿の場合-->
    <div class="row article-show-button">
      <%= link_to :back do %>
        <button type="button" class="btn btn-default btn-lg article-show-button-return">　　戻る　　</button>
      <% end %>
      <% if @article.favorited_by?(current_user) %>
        <%= link_to article_favorite_path(@article), method: :delete do %>
          <button type="button" class="btn btn-default btn-lg article-show-button-favorite">
            <i class="fa fa-heart" aria-hidden="true" style="color: orange;"></i>
            お気に入り解除
          </button>
        <% end %>
      <% else %>
        <%= link_to article_favorites_path(@article), method: :post do %>
          <button type="button" class="btn btn-default btn-lg article-show-button-favorite">
            <i class="fa fa-heart-o" aria-hidden="true"></i>
            お気に入り登録
          </button>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <!--コメント投稿フォーム-->
  <div class="row article-show-comment_form">
    <%= form_with model:[@article, @comment], local: true do |f| %>
      <%= f.text_area :comment, rows: '4', class: "textbox", placeholder: "50文字まで" %>
      <%= f.submit "　送信　", class: "form_submit, btn btn-md btn-default" %>
    <% end %>
  </div>

  <!--コメント表示-->
  <div class="row article-show-comment">
    <% @article.article_comments.each do |article_comment| %>
      <div class="col-sm-4 article-show-comment-image">
        <%= link_to user_path(article_comment.user) do %>
          <%= attachment_image_tag article_comment.user, :profile_image, :fill, 100, 100, fallback: "noimage.jpg", size: "70x70" %>
        <% end %>
      </div>
      <div class="col-sm-8 article-show-comment-info">
        <div class="article-show-comment-nickname">
          <%= article_comment.user.nickname %>
        </div>
        </br>
        <div class="article-show-comment-comment">
          <%= article_comment.comment %>
          <% if current_user == article_comment.user %>
          <%= link_to '削除する', article_article_comment_path(article_comment.article_id, article_comment.id), class: 'btn btn-sm btn-default article-show-comment-button', method: :delete, local: true %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

</div>
