<!--ログインユーザー表示(user)-->

<div class="row user-show-info-box">
  <div class="user-show-info-my-image">
    <%= attachment_image_tag user, :profile_image, size: '150x150', style: "border-radius: 15px;", fallback: "no_profile_image.jpg" %>
  </div>
  <div class="user-show-info-name_follwer">
    <div class="user-show-info-name">
      <%= current_user.nickname %>
    </div></br>
    <div class="user-show-info-follower">
      あなたのファン：<%= current_user.followers.count %>人
    </div>
  </div>
</div>

<div class="row user-show-info-nav">
  <div class="user-show-info-nav-button">
    <%= link_to user_path(current_user) do %>
      <button type="button" class="btn btn-default btn-lg user-show-info-nav-my_article">
        <i class="fa fa-lightbulb-o" aria-hidden="true" style="color: #F5CC50; font-size: 25px;"></i>
        わたしの投稿
      </button>
    <% end %>
  </div>
  <div class="user-show-info-nav-button">
    <%= link_to article_favorites_path(user) do %>
      <button type="button" class="btn btn-default btn-lg user-show-info-nav-favorite">
        <i class="fa fa-heart" aria-hidden="true" style="color: #F5CC50; font-size: 25px;"></i>
        お気に入り
      </button>
    <% end %>
  </div>
  <div class="user-show-info-nav-button">
    <%= link_to user_followings_path(user) do %>
      <button type="button" class="btn btn-default btn-lg user-show-info-nav-following">
        <i class="fa fa-user" aria-hidden="true" style="color: #F5CC50; font-size: 25px;"></i>
        フォロー中
      </button>
    <% end %>
  </div>
  <div class="user-show-info-nav-button">
    <%= link_to user_followed_path(user) do %>
      <button type="button" class="btn btn-default btn-lg user-show-info-nav-followed">
        <i class="fa fa-user" aria-hidden="true" style="color: #F5CC50; font-size: 25px;"></i>
        ファン
      </button>
    <% end %>
  </div>
  <div class="user-show-info-nav-button">
    <%= link_to edit_user_path(current_user) do %>
      <button type="button" class="btn btn-default btn-lg user-show-info-nav-setting">
        <i class="fa fa-cog" aria-hidden="true" style="color: #F5CC50; font-size: 25px;"></i>
        設定
      </button>
    <% end %>
  </div>
  
</div>
