<!--ログインユーザー表示の部分テンプレート user: @user-->

<div class="row user-show-info">
  <div class="col-sm-4 user-show-info-image">
    <%= attachment_image_tag user, :profile_image, size: "150x150", format: 'jpeg', fallback: "noimage.jpg", size: '150x150' %>
  </div>
  <div class="col-sm-8 user-show-info-name_follwer">
    <div class="user-show-info-name">
      <%= current_user.nickname %>
    </div>
    </br>
    <div class="user-show-info-follower">
      あなたのファン：<%= current_user.followers.count %>人
    </div>
  </div>
</div>

<div class="row user-show-info-nav">
  <div class="user-show-info-nav-button">
    <%= link_to article_favorites_path(user) do %>
      <button type="button" class="btn btn-default btn-lg user-show-info-nav-favorite">お気に入り</button>
    <% end %>
  </div>
  <div class="user-show-info-nav-button">
    <%= link_to user_followings_path(user) do %>
      <button type="button" class="btn btn-default btn-lg user-show-info-nav-following">フォローしている人</button>
    <% end %>
  </div>
  <div class="user-show-info-nav-button">
    <%= link_to edit_user_path(current_user) do %>
      <button type="button" class="btn btn-default btn-lg user-show-info-nav-setting">　設定　</button>
    <% end %>
  </div>
</div>


