<!--ユーザー表示の部分テンプレート user: @user-->
<!--<-->

<div class="row user-show-info">
  <div class="col-sm-4 user-show-info-image">
    <%= attachment_image_tag user, :profile_image, :fill, 120, 120, format: 'jpeg', fallback: "noimage.jpg", size: '120x120' %>
  </div>
  <div class="col-sm-4 user-show-info-details">
    <div class="user-show-info-nickname">
      <%= user.nickname %>
    </div>
    </br>
    <div class="user-show-info-living_alone_month">
      ひとり暮らし歴：<%= user.living_alone_month %>ヶ月
    </div>
    <div class="user-show-info-living_alone_month">
      <%= user.introduction %>
    </div>
    <div class="user-show-info-follow_button">
      <% if current_user != user %> <!--自分には表示しない-->
        <% if @article.user.followed_by?(current_user) %>
          <%= link_to user_relationships_path(user.id), method: :delete do %>
            <button type="button" class="btn btn-default btn-lg user-show-info-follow_button-unfollow">
              <i class="fa fa-heart" aria-hidden="true"></i>
              ファン
            </button>
          <% end %>
        <% else %>
          <%= link_to user_relationships_path(user.id), method: :post do %>
            <button type="button" class="btn btn-default btn-lg user-show-info-follow_button-follow">
              <i class="fa fa-heart-o" aria-hidden="true"></i>
              ファンになる
            </button>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>