<!--他人のユーザー表示(user)-->

<div class="col-xs-3 col-md-4 user-show-info-image">
  <%= link_to user_path(user) do %>
    <%= attachment_image_tag user, :profile_image, size: "150x150", style: "border-radius: 15px;", fallback: "no_profile_image.jpg" %>
  <% end %>
</div>
<div class="col-xs-4 col-md-5 user-show-info-details">
  <div class="user-show-info-nickname">
    <%= user.nickname %>
  </div>
  </br>
  <div class="user-show-info-living_alone_month">
    ひとり暮らし歴：<%= user.living_alone_month %>ヶ月
  </div>
  </br>
  <p class="user-show-info-introduction">
    <%= user.introduction %>
  </p>
</div>
