<!--会員情報編集-->

<div class="container user-edit">

  <hr class="border-line"/>
    <h2 class="user-edit-title">プロフィールを編集する</h2>
  <hr class="border-line" />

  <%= form_with model:@user, local: true do |f| %>

    <!--エラーメッセージ-->
    <div class="row user-edit-error">
      <%= render 'layouts/error_message', model: @user %>
    </div>

    <div class="row user-edit-form">
      <h3 class="user-edit-form-label">プロフィール画像</h3></br>
      <% if @user.profile_image.present? %>
        <%= attachment_image_tag @user, :profile_image, id: :img_preview, size: "250x250", class: "user-edit-form-image", style: "border-radius: 15px;" %>
      <% else %>
        <%= image_tag "no_profile_image.jpg", size: "250x250", id: :img_preview, style: "border-radius: 15px;" %>
      <% end %>
      </br>
      <%= f.attachment_field :profile_image, size: "250x250", class: "user-edit-form-profile_image", id: :change_img %>
    </div>

    <div class="row user-edit-form">
      <div class="form-group">
        <h3 class="user-edit-form-label">ニックネーム</h3>
        <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", class: "form-control input-lg" %>
      </div>
      <i class="fa fa-caret-down fa-4x" aria-hidden="true" style="color: #FAE8B1;", class="down-arrow"></i>
    </div>

    <div class="row user-edit-form">
      <div class="form-group">
        <h3 class="user-edit-form-label">自己紹介文</h3>
        <%= f.text_area :introduction, rows: "6", autofocus: true, autocomplete: "introduction", class: "form-control input-lg", placeholder:"例：東京でひとり暮らしを始めたばかりの社会人です。(100文字まで)" %>
      </div>
      <i class="fa fa-caret-down fa-4x" aria-hidden="true" style="color: #F6D263;", class="down-arrow"></i>
    </div>

    <div class="row user-edit-form">
      <div class="form-group">
        <h3 class="user-edit-form-label">おひとり暮らし歴○○ヶ月目</h3>
        <%= f.text_field :living_alone_month, autofocus: true, autocomplete: "living_alone_month", class: "form-control input-lg", placeholder:"半角数字" %>
      </div>
      <i class="fa fa-caret-down fa-4x" aria-hidden="true" style="color: #E8B10C;", class="down-arrow"></i>
    </div>

    <div class="row user-edit-form user-edit-form-button">
      <% if current_user.nickname == 'ゲスト' %>
        <%= f.submit "更新する", class: "btn btn-block btn-default btn-lg disabled user-edit-update_button" %>
      <% else %>
        <%= f.submit "更新する", class: "btn btn-block btn-default btn-lg user-edit-update_button" %>
      <% end %>
    </div>

  <% end %>

  <hr class="user-edit-border" />

  <div class="row user-edit-password">
    <% if current_user.nickname == 'ゲスト' %>
      <div>
        <%= link_to edit_user_registration_path, style: "text-decoration: none;" do %>
          <button type="button" class="btn btn-default btn-block btn-lg user-edit-password-button" disabled="disabled">
            <i class="fa fa-key" aria-hidden="true" style="color: #F5CC50; font-size: 25px;"></i>
            パスワードを変更する
          </button>
        <% end %>
      </div>
    <% else %>
      <div>
        <%= link_to edit_user_registration_path, style: "text-decoration: none;" do %>
          <button type="button" class="btn btn-default btn-block btn-lg user-edit-password-button">
            <i class="fa fa-key" aria-hidden="true" style="color: #F5CC50; font-size: 25px;"></i>
            パスワードを変更する
          </button>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="row user-edit-unsubscribe">
    <%= link_to unsubscribe_path(@user), style: "text-decoration: none;" do %>
      <button type="button" class="btn btn-block btn-default btn-lg user-edit-unsubscribe-button">
        <i class="fa fa-exclamation-circle" aria-hidden="true" style="color: #FFCCCC; font-size: 25px;"></i>
        退会する
      </button>
    <% end %>
  </div>

</div>