<!--マイページ・ユーザー詳細画面-->

<div class="container user-show">

  <% if @user == current_user %>
    <!--マイページとして見ている時のview-->
    <%= render 'users/current_user_show', user: @user %>
  <% else %>
    <!--ユーザー詳細として見ている時のview-->
    <%= render 'users/show', user: @user %>
    <div id="relationship_<%= @user.id %>">
      <%= render 'relationships/follow_button', user: @user %>
    </div>
  <% end %>

  <!--投稿一覧表示-->
  <%= render 'articles/article_index', articles: @articles %>

  <!--ページング-->
  <%= paginate @articles %>

</div>

