<!--Aboutページ-->

<!--背景画像-->
<div class="about-background">

<div class="container about">

  <!--サイトの説明-->
  <div class="row about-site">
    <%= render 'homes/top_message' %>
  </div>

  <!--新規登録・ログインボタン-->
  <%= render 'homes/signin_signup_top_button'%>

  <!--矢印のアイコン-->
  <div class="row top-next-icon">
    <i class="fa fa-angle-double-down" aria-hidden="true" style="color: #8CC3E2;"></i>
  </div>

  <!--楽しみ方-->
  <div class="row about-how_to_enjoy">
    <h2 class="about-how_to_enjoy-title">おひとり日和の楽しみかた</h2>
    <div>
      <h3 class="about-how_to_enjoy-subtitle">① ひとり暮らしに役立つヒントが見つかります</h3>
      <p class="about-how_to_enjoy-description">気になる投稿を簡単に見つけられます。</p>
      <div class="about-how_to_enjoy_genre">
        <%= image_tag 'how_to_enjoy_genre.jpg', size: "700x400" %>
      </div>
    </div>
    <div>
      <h3 class="about-how_to_enjoy-subtitle">② あなたの「楽しい！」を共有できます</h3>
      <p class="about-how_to_enjoy-description">あなはの普段の楽しみ方を発信しましょう！</p>
      <div class="about-how_to_enjoy_post">
        <%= image_tag 'how_to_enjoy_post.jpg', size: "550x400" %>
      </div>
    </div>
    <div>
      <h3 class="about-how_to_enjoy-subtitle">③ あなたの「素敵！」を保存できます</h3>
      <p class="about-how_to_enjoy-description">あとで見返したい投稿はお気に入りボタンを押すと保存できます。</p>
      <div class="about-how_to_enjoy_favorite">
        <%= image_tag 'how_to_enjoy_favorite.jpg', size: "550x400" %>
      </div>
    </div>
    <div>
      <h3 class="about-how_to_enjoy-subtitle">④ あこがれの人を応援できます</h3>
      <p class="about-how_to_enjoy-description">あこがれの人を発見できたらフォローできます。</p>
      <div class="about-how_to_enjoy_follow">
        <%= image_tag 'how_to_enjoy_following.jpg', size: "550x400" %>
      </div>
    </div>
  </div>

  <!--新規登録・ログインボタン-->
  <div class="about-signin_signup_button">
    <%= render 'homes/signin_signup_top_button'%>
  </div>

</div>
