<!--ログイン画面-->

<div class="container-fluid signin-header">
  <div class="logo-image">
  <%= link_to root_path do %>
    <%= image_tag 'logo.jpg', :alt => 'ロゴ画像、みんなの投稿一覧ページに飛べます。' %>
  <% end %>
  </div>
</div>

<div class="container login">
  <div class="row login-form">

    <hr class="border-line"/>
    <h2 class="text-center">ログイン</h2>
    <hr class="border-line login-form-border"/>

    <%= form_with model: @user, url: user_session_path, local: true do |f| %>

      <!--エラーメッセージ-->
      <% flash.each do |name, message| %>
        <%= content_tag :div, message, :id => "flash_#{name}", :class => "alert alert-warning error-message" if message.is_a?(String) %>
      <% end %>

      <div class="form-horizontal">
        <div class="form-group">
          <label class="control-label login-label"><%= f.label "ニックネーム(必須)" %></label></br>
          <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", class: "form-control input-lg" %>
        </div>
        <div class="form-group">
          <label class="control-label login-label"><%= f.label "パスワード(必須)" %></label></br>
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control input-lg" %>
        </div>
        <div class="form-group">
          <div class="actions login-form-button">
            <%= f.submit "ログインする", class: "btn btn-block btn-default btn-lg login-form-login_button" %></br>
            <%= link_to new_user_registration_path, style: "text-decoration: none;" do %>
              <button type="button" class="btn btn-block btn-default btn-lg signup-page-button">
                新規登録はこちら
              </button>
            <% end %>
          </div>
        </div>
      </div>

    <% end %>

  </div>
</div>

<div class="container-fluid signin-footer"></div>