<!--ログイン画面-->

<div class="container login">
  <div class="row login-form">

    <h2 class="login-form-title">ログイン</h2>

    <%= form_with model: @user, url: user_session_path, local: true do |f| %>

      <!--エラーメッセージ -->
      <% flash.each do |name, message| %>
        <%= content_tag :div, message, :id => "flash_#{name}" if message.is_a?(String) %>
      <% end %>

      <form class="form-horizontal">
        <div class="form-group">
          <label class="control-label login-label"><%= f.label "ニックネーム(必須)" %></label></br>
          <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", class: "form-control input-lg" %>
        </div>
        <div class="form-group">
          <label class="control-label login-label"><%= f.label "パスワード(必須)" %></label></br>
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control input-lg" %>
        </div>
        <div class="form-group">
          <div class="actions login-form-button">
            <%= f.submit "　　　　　　　　　　ログインする　　　　　　　　　　", class: "btn btn-default btn-lg" %>
           </div>
        </div>
      </form>

    <% end %>

  </div>
</div>
