<div class="container login">
  <div class="row login-row">
      
    <h1 class="login-title">ログイン</h1>
    
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <form class="form-horizontal">
        <div class="form-group">
          <label class="control-label login-label"><%= f.label "ニックネーム(必須)" %></label></br>
          <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", class: "form-control input-lg" %>
        </div>
        <div class="form-group">
          <label class="control-label login-label"><%= f.label "パスワード(必須)" %></label></br>
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control input-lg" %>
        </div>
        <div class="form-group">
          <div class="actions">
            <%= f.submit "　　　　　ログイン　　　　　", class: "btn btn-default btn-lg" %>
           </div>
        </div>
      </form>
    <% end %>

  </div>
</div>