<!DOCTYPE html>
<html>

  <head>
    <title>OhitoriBiyori</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header', user: @user %>
    <%= yield %>
    <%= render 'layouts/footer' %>

    <!--ページトップへの移動ボタン-->
    <span id="top-arrow">
      <a id="top-arrow-button">
         <%= image_tag 'top_arrow.jpg', size: "60x60", class: "top-arrow-button" %>
        <!--<i class="fa fa-chevron-circle-up fa-5x" style="color: #F8D48A;" aria-hidden="true"></i>-->
      </a>
    </span>
  </body>

</html>
