<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!--ファビコンの読み込み-->
    <%= favicon_link_tag('favicon.ico') %>
    <title>おひとり日和</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--ヘッダー-->
    <%= render 'layouts/header', user: @user %>
    <%= yield %>
    <!--フッター-->
    <%= render 'layouts/footer' %>
    <!--ページトップへの移動ボタン-->
    <span id="top-arrow">
      <a id="top-arrow-button">
      <%= image_tag 'top_arrow.jpg', size: "60x60", class: "top-arrow-button" %>
      </a>
    </span>
  </body>
</html>
